@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    height: 100%;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

main{
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    width: 323px;
    height: 530px;
    box-shadow: 0px 15px 40px 20px hsl(217, 60%, 6%)
}

.pic_NFT { 
    position: relative;
    padding-top: 20px;
}

#equilibrium{
    max-width: 89%;
    margin-left: 5%;
    border-radius: 5%
}

.overlay{
    border-radius: 6%;
    opacity: 0;
    position: absolute;
    top: 0;
    margin-left: 5%;
    margin-top: 6% ;
    padding-right: 37%;
    padding-left: 37%;
    padding-top: 43%;
    padding-bottom: 30%
}

.overlay:hover{
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(0, 255, 255, 0.4)
}

.Card_Content{
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-right: 6%
}

.name_NFT h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: auto
}

.name_NFT a{
    text-decoration: none;
    color: white
}

.name_NFT a:hover, .owner_name:hover{ color:cyan }

.desc_NFT{
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%)
}

.informations{
    display: flex;
    justify-content: space-between;
    margin-top: -3%
}

.informations, .delay_NFT,.footer_card p{ color: hsl(215, 51%, 70%) }

.price_NFT{ 
    color: cyan;
    width: 100px;
    font-weight: 600
}

.delay_NFT{ width: 100px }

.price_NFT img, .delay_NFT img{ 
    vertical-align: middle;
    margin-right: 5%
}

.footer_card{
    display: flex;
    border-top: 1px solid;
    border-color: hsl(215, 51%, 70%)
}

.footer_card img{
    width: 9%;
    border: 1.6px solid;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%
}

.owner_name{ 
    color: white; 
    text-decoration: none
}

footer { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center
}

footer a { color: hsl(228, 45%, 44%) }