@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

body{
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    height: 100%;
}

#NFT_Card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    padding-top: 20px;
    width: 310px;
    height: 500px;
    margin: auto;
    top: 0;
}

.pic_NFT, footer{ text-align: center; }

.pic_NFT img{
    border-radius: 5%;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.name_NFT h2{
    font-size: 18px;
    font-weight: 600;
}

.name_NFT, .desc_NFT, .footer_card, .informations{ 
    margin-left: 8%;
    margin-right: 6%;
}

.desc_NFT{
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.informations{
    display: flex;
    justify-content: space-between;
    margin-top: -4%;
}

.price_NFT{ color: cyan; font-weight: 600;}

.price_NFT img, .delay_NFT img, .footer_card img{ 
    vertical-align: middle; 
    margin-bottom: 5%;
}

.informations, .delay_NFT, .footer_card{ color: hsl(215, 51%, 70%); }

.footer_card{
    border-top: 1px solid;
    border-color: hsl(215, 51%, 70%);
}

.owner_name{ color: white; }

.footer_card img{
    max-width: 9%;
    border-color: white;
    border: 1.7px solid;
    border-radius: 50%;
}

footer, #NFT_Card { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
}

footer a { color: hsl(228, 45%, 44%); }